        h1{
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
        }

        figure{
                text-align: right;

        }
        img{
                border-radius: 50%;

        }
        h5{
                text-align: center;
        }

       

